<a href="https://colab.research.google.com/github/Charles-Scott-Green/Argument-mining/blob/master/4_Clean_II.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
!python -m spacy download en_core_web_lg --quiet

     |████████████████████████████████| 826.9MB 5.8MB/s
  Building wheel for en-core-web-lg (setup.py) ... done
✔ Download and installation successful
You can now load the model via spacy.load('en_core_web_lg')

In [0]:
!pip install vaderSentiment

Collecting vaderSentiment
  Downloading https://files.pythonhosted.org/packages/86/9e/c53e1fc61aac5ee490a6ac5e21b1ac04e55a7c2aba647bb8411c9aadf24e/vaderSentiment-3.2.1-py2.py3-none-any.whl (125kB)
     |████████████████████████████████| 133kB 2.8MB/s
Installing collected packages: vaderSentiment
Successfully installed vaderSentiment-3.2.1

In [0]:
!pip install spacy-wordnet

Collecting spacy-wordnet
  Downloading https://files.pythonhosted.org/packages/f7/f2/4d8070df0f7a7a9eeed74eb7e9ce3cf41349eb5e06b1e088de9eeca630e2/spacy-wordnet-0.0.4.tar.gz (648kB)
     |████████████████████████████████| 655kB 2.8MB/s
Collecting nltk<3.4,>=3.3
  Downloading https://files.pythonhosted.org/packages/50/09/3b1755d528ad9156ee7243d52aa5cd2b809ef053a0f31b53d92853dd653a/nltk-3.3.0.zip (1.4MB)
     |████████████████████████████████| 1.4MB 13.7MB/s
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from nltk<3.4,>=3.3->spacy-wordnet) (1.12.0)
Building wheels for collected packages: spacy-wordnet, nltk
  Building wheel for spacy-wordnet (setup.py) ... done
  Created wheel for spacy-wordnet: filename=spacy_wordnet-0.0.4-py2.py3-none-any.whl size=650292 sha256=2f57673f47da0c2565eedb87acf07735dc0b76eaf6e34cc643e05a6001583f2e
  Stored in directory: /root/.cache/pip/wheels/25/93/1d/c86db913cd146fc9ddb26d10f56579c5d58a3e00bc8f96a3a6
  Building wheel for nltk (setup.py) ... done
  Created wheel for nltk: filename=nltk-3.3-cp36-none-any.whl size=1394470 sha256=4aeb5e0b757b2b41815e1ed6b6f8b92010ec560557d604046d76395a1d55b948
  Stored in directory: /root/.cache/pip/wheels/d1/ab/40/3bceea46922767e42986aef7606a600538ca80de6062dc266c
Successfully built spacy-wordnet nltk
Installing collected packages: nltk, spacy-wordnet
  Found existing installation: nltk 3.2.5
    Uninstalling nltk-3.2.5:
      Successfully uninstalled nltk-3.2.5
Successfully installed nltk-3.3 spacy-wordnet-0.0.4

In [0]:
!pip install pyLanguagetool

Collecting pyLanguagetool
  Downloading https://files.pythonhosted.org/packages/37/29/fd29c284784f7afa43254c07c08ad152952ecb3dc2ef6036235c9647f2bd/pyLanguagetool-0.9.0-py3-none-any.whl
Collecting requests>=2.22.0
  Downloading https://files.pythonhosted.org/packages/1a/70/1935c770cb3be6e3a8b78ced23d7e0f3b187f5cbfab4749523ed65d7c9b1/requests-2.23.0-py2.py3-none-any.whl (58kB)
     |████████████████████████████████| 61kB 3.3MB/s
Collecting configargparse>=0.14.0
  Downloading https://files.pythonhosted.org/packages/66/37/dd9fcb3b19c1dceea450ee994952e311a96dd827bb09ee19169c3427e0d3/ConfigArgParse-1.0.tar.gz (40kB)
     |████████████████████████████████| 40kB 7.0MB/s
Collecting colorama>=0.4.1
  Downloading https://files.pythonhosted.org/packages/c9/dc/45cdef1b4d119eb96316b3117e6d5708a08029992b2fee2c143c7a0a5cc5/colorama-0.4.3-py2.py3-none-any.whl
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.22.0->pyLanguagetool) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.22.0->pyLanguagetool) (2019.11.28)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.22.0->pyLanguagetool) (2.8)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.22.0->pyLanguagetool) (3.0.4)
Building wheels for collected packages: configargparse
  Building wheel for configargparse (setup.py) ... done
  Created wheel for configargparse: filename=ConfigArgParse-1.0-cp36-none-any.whl size=17874 sha256=aa7c5b2ba9c562ef1e5720183ecede6e8f69d905cadd28c776f9144ea6e35bf0
  Stored in directory: /root/.cache/pip/wheels/0d/3a/3f/d9c3d44d4e15f125c92bd64b611106937511e20ecc34bb5229
Successfully built configargparse
ERROR: google-colab 1.0.0 has requirement requests~=2.21.0, but you'll have requests 2.23.0 which is incompatible.
ERROR: datascience 0.10.6 has requirement folium==0.2.1, but you'll have folium 0.8.3 which is incompatible.
Installing collected packages: requests, configargparse, colorama, pyLanguagetool
  Found existing installation: requests 2.21.0
    Uninstalling requests-2.21.0:
      Successfully uninstalled requests-2.21.0
Successfully installed colorama-0.4.3 configargparse-1.0 pyLanguagetool-0.9.0 requests-2.23.0

## Import Libraries and initialize settings

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

sns.set()

In [0]:
import re
import string
import math
from tqdm import tqdm

In [0]:
import nltk
from nltk import pos_tag
from nltk.corpus import wordnet as wn
from nltk.tokenize import sent_tokenize, word_tokenize
from pprint import pprint
from nltk.tokenize.punkt import PunktSentenceTokenizer, PunktTrainer

In [0]:
import nltk
nltk.download('punkt')
nltk.download('wordnet')
nltk.download('averaged_perceptron_tagger')
nltk.download('omw')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package omw to /root/nltk_data...
[nltk_data]   Package omw is already up-to-date!

True

In [0]:
import spacy
from spacy.matcher import Matcher 
from spacy.tokens import Span 
from spacy import displacy 
from spacy.lang.en.stop_words import STOP_WORDS
from spacy_wordnet.wordnet_annotator import WordnetAnnotator

nlp = spacy.load("en_core_web_lg")
nlp.add_pipe(WordnetAnnotator(nlp.lang), after='tagger')

In [0]:
import warnings
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer

analyzer = SentimentIntensityAnalyzer()
warnings.filterwarnings('ignore')

In [0]:
from sklearn.model_selection import train_test_split as tts 
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.linear_model import LogisticRegression, LogisticRegressionCV
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import confusion_matrix, recall_score, precision_score
from sklearn.preprocessing import StandardScaler

import lightgbm as lgb

from imblearn.over_sampling import SMOTE

In [0]:
from patsy import dmatrices
import statsmodels.api as sm
from statsmodels.stats.outliers_influence import variance_inflation_factor

import pickle

In [0]:
import pylanguagetool
from pylanguagetool.api import check as chkr

## Define Functions

In [0]:
def get_target_data(path):
    df = pd.read_csv(path)
    df['cdc_present'] = (df['cdc'] != '---').astype(int)

    return df['cdc_present']

In [0]:
def topic_domains(topic):
    raw_domains = []
    common_domains = []

    for chunk in nlp(topic).noun_chunks:
        rt_nn = chunk.root
        raw_domains.append(rt_nn._.wordnet.wordnet_domains())

    if len(raw_domains) > 0:
        reference = raw_domains[0]
    else:
        return list(raw_domains)
        
    for domain in raw_domains:
        common_domains = set(reference) & set(domain)
        
    return list(common_domains)

In [0]:
def expanded_sentence_similarity(topic, sentence):
    
    extended_topic = []
    domains = topic_domains(topic)
    
    if len(domains) < 1:
        return nlp(topic).similarity(nlp(sentence))
    else:
        for token in nlp(topic):
            synsets = token._.wordnet.wordnet_synsets_for_domain(domains)
            if synsets: 
                lfs = []
                for syn in synsets:
                    lfs.extend(syn.lemma_names())
                    extended_topic.append('({})'.format('|'.join(set(lfs))))
            else:
                extended_topic.append(token.text)

        tokenized_extended_topic = nlp(' '.join(extended_topic))

    return tokenized_extended_topic.similarity(nlp(sentence))

In [0]:
def subject_match(topic, sentence):
    
    ntopic = nlp(topic)
    scores = []
    for chunk in nlp(sentence).noun_chunks:
        scores.append(chunk.similarity(ntopic))
    
    return np.mean(scores)

In [0]:
def subject_match2(topic, sentence):
    
    ntopic = nlp(topic)
    scores = []
    for chnk in nlp(sentence).noun_chunks:
        for tchnk in ntopic.noun_chunks:
            scores.append(chnk.similarity(tchnk))
    
    return np.mean(scores)

In [0]:
def includes_that(sentence):
    check = []
    for tok in sentence:
        if tok.tag_ == 'IN':
            check.append(tok.text)
    if 'that' in check:
        return 1
    else:
        return 0

In [0]:
def patterns(sentence, pattern_type='dep'):
    
    pat = []
    if pattern_type == 'dep':
        pat = [tok.dep_ for tok in sentence]
    elif pattern_type == 'tag':
        pat = [tok.tag_ for tok in sentence]
    
    return '|'.join(pat)

In [0]:
def pos_pattern(sentence):
    pat = []
    for tok in sentence:
        pat.append(tok.pos_)

    return '|'.join(pat)

In [0]:
def pattern_in_text(pattern, sentence):
    text_pattern = pos_pattern(sentence)

    if pattern in text_pattern:
        return 1
    else:
        return 0

In [0]:
def infinitive_verb_present(sentence):
    text_pattern = pos_pattern(sentence)
    infinitive_pattern = 'PART|VERB'

    if infinitive_pattern in text_pattern:
        return 1
    else:
        return 0

In [0]:
def sentiment_subjectivity(sentence, score_type='sentiment'):
    analyzer = SentimentIntensityAnalyzer()

    if score_type == 'sentiment':
        pos = analyzer.polarity_scores(sentence)['pos']
        neg = analyzer.polarity_scores(sentence)['neg']
        return pos/neg
    
    else:
        return analyzer.polarity_scores(sentence)['compound']

In [0]:
def is_sentence(clause):
    nn = 2
    vb = 1
    cls = nlp(clause)
    for tok in cls:
        if tok.pos_ in ['NOUN', 'PROPN', 'PRON']:
            nn -= 1
        elif tok.pos_ in ['VERB']:
            vb -= 1
    if nn < 1 and vb < 1:
        return True
    else:
        return False

In [0]:
def get_clauses(sentence):
    """Sentence type is a string."""
    subtree_phrases = []
    
    for tok in nlp(sentence):
        if tok.head.pos_ == 'VERB':
            if len([tok for tok in tok.subtree]) >= 3:
                subtree_prhase = ''.join(tok.text_with_ws for tok in tok.subtree)
                if subtree_prhase != sentence:
                    if is_sentence(subtree_prhase):
                        splits = subtree_prhase.split(',')
                        if len(splits) == 1:
                            subtree_phrases.append(subtree_prhase)
                        else:
                            for split in splits:
                                if is_sentence(split):
                                    if split not in subtree_phrases:
                                        subtree_phrases.append(split) 
    
    raw_clauses = []
    clauses = []

    for phrase in subtree_phrases:
        tok_phrase = nlp(phrase)
        for chunk in tok_phrase.noun_chunks:
            span = tok_phrase[chunk.root.head.left_edge.i:chunk.root.head.right_edge.i+1]
            if span[0].pos_ in ['DET', 'ADP']:
                if span[1:].text not in raw_clauses:
                    if is_sentence(span[1:].text):
                        raw_clauses.append(span[1:].text)
            elif span.text not in raw_clauses:
                if is_sentence(span.text):
                    raw_clauses.append(span.text)
    
    if len(raw_clauses) == 0:
        clauses.append(sentence)
    else:
        for clause in raw_clauses:
            dup_checks = [(clause in check_clause) for check_clause in raw_clauses]
            if sum(dup_checks) == 1:
                clauses.append(clause)
                
    return clauses

In [0]:
def conf_matrix(y_true, y_predict):
    
    from sklearn.metrics import confusion_matrix
    
    data = confusion_matrix(y_true, y_predict)
    index = ['Actual_0', 'Actual_1']
    columns = ['Predicted_0', 'Predicted_1']
    
    return pd.DataFrame(data, index, columns)

In [0]:
def get_target_data(path):
    df = pd.read_csv(path)
    df['cdc_present'] = (df['cdc'] != '---').astype(int)

    return df['cdc_present']

In [0]:
def count_sentiment_words(sentence):
    analyzer = SentimentIntensityAnalyzer()
    wd_cnt = 0

    for tok in nlp(sentence):
        if analyzer.polarity_scores(tok.text)['compound'] != 0:
            wd_cnt += 1

    return wd_cnt

In [0]:
def count_syllables(sentence):
    """Given a string, calculates and returns the number of syllables of the word."""
    import string
    
    word_list = sentence.translate(string.punctuation).split()
    vowels = "aeiouy"
    tally = 0
    
    for word in word_list:
        word = word.lower()
        vowels = "aeiouy"
        count = 0
        
        if word[0] in vowels:
            count += 1

        for i in range(1, len(word)):
            if word[i] in vowels and word[i - 1] not in vowels:
                count += 1

        if word.endswith('e'):
            count -= 1

        if count == 0:
            count += 1
    
        tally += count
    
    return tally

In [0]:
def punct_marks(sentence):
    """Given a sentence, returns count and/or list of punctiation marks"""
    
    pm = []
    
    for tok in nlp(sentence):
        if tok.pos_ == 'PUNCT':
            pm.append(tok)
    return len(pm)

In [0]:
def noun_counts(sentence):
    
    chnk = []
    
    for chunk in nlp(sentence).noun_chunks:
        chnk.append(chunk)

    return len(chnk)

In [0]:
def word_count(sentence):
    wds = []
    for tok in nlp(sentence):
        if tok.pos_ != 'PUNCT':
            wds.append(tok)
    return len(wds)

In [0]:
def phrase_chunks(sentence):
    s = []
    for tok in nlp(sentence):
        if len([tok for tok in tok.subtree]) >=3:
            if ''.join(tok.text_with_ws for tok in tok.subtree) != str(sentence):
                s.append(''.join(tok.text_with_ws for tok in tok.subtree))
    return len(s)

In [0]:
def text_cleaner(text):
    # visual inspection identifies a form of punctuation spaCy does not
    # recognize: the double dash '--'.  better get rid of it now!
    text = text.strip()
    text = re.sub(r'--',' ',text)
    text = re.sub("[\[].*?[\]]", "", text)
    text = re.sub(r"(\b|\s+\-?|^\-?)(\d+|\d*\.\d+)\b", " ", text)
    text = text.replace(' .', '.')
    text = text.replace('/', '')
    text = re.sub("\'s", "'s", text)
    text = ' '.join(text.split())

    return text

In [0]:
def sentencify(clause):
    clause = text_cleaner(clause)
    if clause[-1] == '.':
        clause = clause[0].upper() + clause[1:]
    else:
        clause = clause[0].upper() + clause[1:] + '.'
    
    return clause

In [0]:
def exclude_rule(flags):
    skip_messages = ['Use a smart closing quote here: "”".', 
                     "Don't put a space after the opening parenthesis", 
                     'Use a smart opening quote here: "“".', 
                     "Don't put a space before the closing parenthesis", 
                     'Possible spelling mistake', 
                     'Two consecutive dots']

    rule_count = []

    for flag in flags:
        for x in skip_messages:
            if x in flag:
                rule_count.append(1)
            else:
                rule_count.append(0)
    
    if sum(rule_count) == len(flags): 
        return True
    else:
        return False

def check_grammar(clause):
    
    if clause == '.':
        return False
    else:
        n_clause = sentencify(clause)

        good_grammar = chkr(n_clause, api_url='https://languagetool.org/api/v2/', lang='en-US')['matches']
        
        if len(good_grammar) == 0 and is_sentence(clause):
            return True
        else:
            messages = [m['message'] for m in good_grammar]
            if exclude_rule(messages):
                return True
            else:
                return False

In [0]:
def calculate_stance(topic, claim):
    topic = topic + 'is the best'
    
    if claim == '.':
        
        return 0
    
    else:
        p_claim = analyzer.polarity_scores(claim)['compound']
        p_topic = analyzer.polarity_scores(topic)['compound']
        rel_sent = subject_match(topic, claim)
    
        return p_claim * rel_sent * p_topic

In [0]:
def trim_dataframe(df):
    cls = [2,3,4,5,6]
    grm = [7,8,9,10,11]
    stn = [12,13,14,15,16]
    cols = ['cdc_present', 'context', 
            'clause', 'stance']
    
    ndf = df.copy()
    stances = []
    clauses = []

    for x in df.index:
        gr_chk = list(df.iloc[x,grm])
        gd_gram = np.nonzero(gr_chk)

        if len(gd_gram[0]) == 0:
            clauses.append('---') 
            stances.append(0)
        else:
            scores = list(abs(df.iloc[x, stn]))
            hi_scr = max(abs(df.iloc[x,stn]))
            sc_idx = scores.index(hi_scr)
            if sc_idx in gd_gram[0]:
                clauses.append(df.iloc[x,cls[sc_idx]])
                stances.append(df.iloc[x,stn[sc_idx]])
            else:
                idx = gd_gram[0][0]
                clauses.append(df.iloc[i,cls[idx]])
                stances.append(df.iloc[i,stn[idx]])
                

    ndf['clause'] = clauses
    ndf['stance'] = stances
    ndf = ndf.loc[ndf['clause'] != '---']
    ndf = ndf[cols]
    ndf.reset_index(drop=True, inplace=True)

    return ndf

def trim_test_dataframe(df, cols):
    cls = [19,20,21,22,23]
    grm = [24,25,26,27,28]
    stn = [29,30,31,32,33]
    
    ndf = df.copy()
    stances = []
    clauses = []

    for x in df.index:
        gr_chk = list(df.iloc[x,grm])
        gd_gram = np.nonzero(gr_chk)

        if len(gd_gram[0]) == 0:
            clauses.append('---') 
            stances.append(0)
        else:
            scores = list(abs(df.iloc[x, stn]))
            hi_scr = max(abs(df.iloc[x,stn]))
            sc_idx = scores.index(hi_scr)
            if sc_idx in gd_gram[0]:
                clauses.append(df.iloc[x,cls[sc_idx]])
                stances.append(df.iloc[x,stn[sc_idx]])
            else:
                idx = gd_gram[0][0]
                clauses.append(df.iloc[i,cls[idx]])
                stances.append(df.iloc[i,stn[idx]])
                

    ndf['clause'] = clauses
    ndf['stance'] = stances
    ndf = ndf.loc[ndf['clause'] != '---']
    ndf = ndf[cols]
    ndf.reset_index(drop=True, inplace=True)

    return ndf

## Load Dataframe & Model

In [0]:
# paths to data
path1 = '/content/drive/My Drive/Colab Notebooks/Thinkful/Module 34 - Final Capstone/data/CDC Detection/cleaned.csv'
path2 = '/content/drive/My Drive/Colab Notebooks/Thinkful/Module 34 - Final Capstone/data/CDC Detection/clause_sentences.csv'
path3 = '/content/drive/My Drive/Colab Notebooks/Thinkful/Module 34 - Final Capstone/data/CDC Detection/funnel_1_model.sav'
path4 = '/content/drive/My Drive/Colab Notebooks/Thinkful/Module 34 - Final Capstone/data/CDC Detection/funnel_1.csv'

train_data = pd.read_csv(path4)
raw_data = pd.read_csv(path1)
cls_data = pd.read_csv(path2)

In [0]:
raw_data.shape, cls_data.shape, train_data.shape

((41999, 21), (41999, 6), (10500, 302))

In [0]:
df = pd.concat([raw_data, cls_data], axis=1)
df.head()

   Unnamed: 0  ...  clause_4
0           0  ...         .
1           1  ...         .
2           2  ...         .
3           3  ...         .
4           4  ...         .

[5 rows x 27 columns]

In [0]:
print(df['text'][18])

Chartalists argue that deficit spending is logically necessary because, in their view, fiat money is created by deficit spending: one cannot collect fiat money in taxes before one has issued it and spent it, and the amount of fiat money in circulation is exactly the government debt – money spent but not collected in taxes.

In [0]:
print(df['clause_0'][18])
print(df['clause_1'][18])
print(df['clause_2'][18])
print(df['clause_3'][18])

Chartalists argue that deficit spending is logically necessary because
 fiat money is created by deficit spending
one has issued it and spent it
amount of fiat money in circulation is exactly the government debt – money spent but not collected in taxes.

In [0]:
displacy.render(nlp('This presentation is awesome!'), jupyter=True,)

In [0]:
displacy.render(nlp(df['cdc'][18]), jupyter=True,
                options={'compact':True, 'distance':100})

In [0]:
df.drop(columns=['Unnamed: 0', 'Unnamed: 0.1'], axis=1, inplace=True)

In [0]:
df.columns

Index(['text', 'topic', 'article', 'cdc', 'cdc_present', 'context',
       'text_words', 'text_syllables', 'text_sentiment_words',
       'text_punctuation', 'text_nouns', 'text_phrases', 'sent_rat', 'clauses',
       'num_clauses', 'claused_sentence', 'context_similarity',
       'expanded_similarity', 'subjectivity_score', 'clause_0', 'clause_1',
       'clause_2', 'clause_3', 'clause_4'],
      dtype='object')

### Preprocessing

In [0]:
train_data.head()

   Unnamed: 0     txt_0     txt_1  ...         7         8  cdc_present
0           0 -0.043492  0.255405  ... -0.258628 -0.019056        False
1           1 -0.109559  0.207248  ... -0.188807 -1.041112        False
2           2 -0.112302  0.123262  ... -1.519513  0.790146        False
3           3 -0.053385  0.214746  ... -0.413902 -2.379016        False
4           4 -0.018335  0.202566  ...  0.129662  0.899497        False

[5 rows x 291 columns]

In [0]:
X = train_data.drop(columns=['Unnamed: 0', 'cdc_present'], axis=1)
y = train_data['cdc_present']

In [0]:
# Initialize SMOTE for class imbalance handling
sm = SMOTE(random_state=42)

# Split features,target into train/test sets
X_trn, X_tst, y_trn, y_tst = tts(X, y, test_size=0.25, random_state=42)

# resample train set
X_res, y_res = sm.fit_resample(X_trn, y_trn)

###Execute First Level Model

The test set will be sequestered for use in the final pipeline.

In [0]:
lr = LogisticRegression(C=1, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)
lr.fit(X_res, y_res)

pn_lr = lr.predict(X_trn)
pt_lr = lr.predict(X_tst)

print("\n----------------------LR Scores----------------------")
print('Training set score:', lr.score(X_trn, y_trn))
print('Training precision:', precision_score(y_trn, pn_lr))
print('Training recall:', recall_score(y_trn, pn_lr))
print('\nTest set score:', lr.score(X_tst, y_tst))
print('Test precision:', precision_score(y_tst, pt_lr))
print('Test recall:', recall_score(y_tst, pt_lr))

----------------------LR Scores----------------------
Training set score: 0.7972634051874663
Training precision: 0.11612626767604628
Training recall: 0.8041543026706232

Test set score: 0.7958095238095239
Test precision: 0.10462602680501513
Test recall: 0.7682539682539683

In [0]:
conf_matrix(y_trn, pn_lr)

          Predicted_0  Predicted_1
Actual_0        24300         6188
Actual_1          198          813

In [0]:
conf_matrix(y_tst, pt_lr)

          Predicted_0  Predicted_1
Actual_0         8114         2071
Actual_1           73          242

## Prepare for Filter 2

In [0]:
# All Candidate Sentences are the predicted class 1
# Select all candidates for next level
X_trn['pred'] = pn_lr

idx = X_trn[X_trn['pred'] == True].index

rdf = df[['cdc_present', 'context', 'clause_0', 'clause_1', 'clause_2', 
         'clause_3', 'clause_4']].iloc[idx]

rdf.head()

       cdc_present             context  ... clause_3 clause_4
29636        False  endangered species  ...        .        .
22602         True    multiculturalism  ...        .        .
32710        False             atheism  ...        .        .
13298        False     nuclear weapons  ...        .        .
26554        False  right to bear arms  ...        .        .

[5 rows x 7 columns]

In [0]:
rdf.reset_index(drop=True, inplace=True)

In [0]:
# Select all Candidates from test set
test_idx = X_tst.index

In [0]:
tdf = df.iloc[test_idx]
tdf.head()

                                                    text  ... clause_4
7497   Political criticisms pose an alternative conce...  ...        .
30459  Joe Walston, director of the Wildlife Conserva...  ...        .
25533  Most of the firearms violence in Mexico is per...  ...        .
4455   The Malays viewed Independence as restoring th...  ...        .
26693  The court noted that it had, prior to Heller, ...  ...        .

[5 rows x 24 columns]

In [0]:
tdf.reset_index(drop=True, inplace=True)

### Check Grammar of Clauses

The assumption of this CDC extraction approach is that independent clauses should be able to stand alone as sentences.  That said, the minimum elements of a sentence should be present.  Additionally, they should be grammatically correct.

The process is a funnel or filter.  This step in the process is intended to further narrow down the list of candidates.

#### Train Set

In [0]:
grammar_0 = []
grammar_1 = []
grammar_2 = []
grammar_3 = []
grammar_4 = []

for x in rdf['clause_0'][:1000]:
    grammar_0.append(check_grammar(x))

In [0]:
for x in rdf['clause_0'][1000:2000]:
    grammar_0.append(check_grammar(x))

In [0]:
for x in rdf['clause_0'][2000:3000]:
    grammar_0.append(check_grammar(x))

In [0]:
for x in rdf['clause_0'][3000:4000]:
    grammar_0.append(check_grammar(x))

In [0]:
for x in rdf['clause_0'][4000:5000]:
    grammar_0.append(check_grammar(x))

In [0]:
for x in rdf['clause_0'][5000:6000]:
    grammar_0.append(check_grammar(x))

In [0]:
for x in rdf['clause_0'][6000:]:
    grammar_0.append(check_grammar(x))

In [0]:
len(grammar_0)

7001

In [0]:
for x in rdf['clause_1'][:1000]:
    grammar_1.append(check_grammar(x))

In [0]:
for x in rdf['clause_1'][1000:2000]:
    grammar_1.append(check_grammar(x))

In [0]:
for x in rdf['clause_1'][2000:1000]:
    grammar_1.append(check_grammar(x))

In [0]:
for x in rdf['clause_1'][2000:3000]:
    grammar_1.append(check_grammar(x))

In [0]:
for x in rdf['clause_1'][3000:4000]:
    grammar_1.append(check_grammar(x))

In [0]:
for x in rdf['clause_1'][4000:5000]:
    grammar_1.append(check_grammar(x))

In [0]:
for x in rdf['clause_1'][5000:6000]:
    grammar_1.append(check_grammar(x))

In [0]:
for x in rdf['clause_1'][6000:]:
    grammar_1.append(check_grammar(x))

In [0]:
len(grammar_1)

7001

In [0]:
for x in rdf['clause_2']:
    grammar_2.append(check_grammar(x))

len(grammar_2)

7001

In [0]:
for x in rdf['clause_3']:
    grammar_3.append(check_grammar(x))

len(grammar_3)

7001

In [0]:
for x in rdf['clause_4']:
    grammar_4.append(check_grammar(x))

len(grammar_4)

7001

In [0]:
rdf['grammar_0'] = grammar_0
rdf['grammar_1'] = grammar_1
rdf['grammar_2'] = grammar_2
rdf['grammar_3'] = grammar_3
rdf['grammar_4'] = grammar_4

rdf.tail(3)

      cdc_present                context  ... grammar_3 grammar_4
6998        False               monarchy  ...     False     False
6999        False        right to asylum  ...     False     False
7000        False  collective bargaining  ...     False     False

[3 rows x 12 columns]

#### Test Set

In [0]:
test_set['pred'] = pt_lr

tidx = test_set.loc[test_set['pred'] == True].index

tdf = df.iloc[tidx]

tdf.shape

(2313, 24)

In [0]:
tdf.head().transpose()

                                                                  26693  ...                                              8040
text                  The court noted that it had, prior to Heller, ...  ...  Boys who didn’t play any video games during a ...
topic                                     limit the right to bear arms   ...         the sale of violent video games to minors
article               Second Amendment to the United States Constitu...  ...                              Grand Theft Childhood
cdc                                                                 ---  ...                                                ---
cdc_present                                                       False  ...                                              False
context                                              right to bear arms  ...                                violent video games
text_words                                                           38  ...                                                 33
text_syllables                                                       66  ...                                                 54
text_sentiment_words                                                  2  ...                                                  4
text_punctuation                                                      6  ...                                                  3
text_nouns                                                           10  ...                                                  9
text_phrases                                                         13  ...                                                 11
sent_rat                                                      0.0526316  ...                                           0.121212
clauses               [' identified the Second Amendment as providin...  ...  ['Boys who didn’t play any video games during ...
num_clauses                                                           2  ...                                                  2
claused_sentence       identified the Second Amendment as providing ...  ...  Boys who didn’t play any video games during a ...
context_similarity                                             0.545282  ...                                           0.481191
expanded_similarity                                            0.283945  ...                                           0.439015
subjectivity_score                                               0.3875  ...                                             0.2732
clause_0               identified the Second Amendment as providing ...  ...  Boys who didn’t play any video games during a ...
clause_1              restrictions on felon ownership of firearms di...  ...  enough boys in this group to find statisticall...
clause_2                                                              .  ...                                                  .
clause_3                                                              .  ...                                                  .
clause_4                                                              .  ...                                                  .

[24 rows x 5 columns]

In [0]:
tgrammar_0 = []
tgrammar_1 = []
tgrammar_2 = []
tgrammar_3 = []
tgrammar_4 = []

for x in tdf['clause_0'][:1000]:
    tgrammar_0.append(check_grammar(x))

In [0]:
for x in tdf['clause_0'][1000:2000]:
    tgrammar_0.append(check_grammar(x))

In [0]:
for x in tdf['clause_0'][2000:]:
    tgrammar_0.append(check_grammar(x))

In [0]:
for x in tdf['clause_1'][:1000]:
    tgrammar_1.append(check_grammar(x))

In [0]:
for x in tdf['clause_1'][1000:2000]:
    tgrammar_1.append(check_grammar(x))

In [0]:
for x in tdf['clause_1'][2000:]:
    tgrammar_1.append(check_grammar(x))

In [0]:
for x in tdf['clause_2'][:1000]:
    tgrammar_2.append(check_grammar(x))

In [0]:
for x in tdf['clause_2'][1000:2000]:
    tgrammar_2.append(check_grammar(x))

In [0]:
for x in tdf['clause_2'][2000:]:
    tgrammar_2.append(check_grammar(x))

In [0]:
for x in tdf['clause_3'][:1000]:
    tgrammar_3.append(check_grammar(x))

In [0]:
for x in tdf['clause_3'][1000:2000]:
    tgrammar_3.append(check_grammar(x))

In [0]:
for x in tdf['clause_3'][2000:]:
    tgrammar_3.append(check_grammar(x))

In [0]:
for x in tdf['clause_4'][:1000]:
    tgrammar_4.append(check_grammar(x))

In [0]:
for x in tdf['clause_4'][1000:2000]:
    tgrammar_4.append(check_grammar(x))

In [0]:
for x in tdf['clause_4'][2000:]:
    tgrammar_4.append(check_grammar(x))

In [0]:
tdf['grammar_0'] = tgrammar_0
tdf['grammar_1'] = tgrammar_1
tdf['grammar_2'] = tgrammar_2
tdf['grammar_3'] = tgrammar_3
tdf['grammar_4'] = tgrammar_4

## Feature Engineering

### Training Set

In [0]:
stance_0 = []
stance_1 = []
stance_2 = []
stance_3 = []
stance_4 = []

for i,clause in enumerate(rdf['clause_0']):
    stance_0.append(calculate_stance(rdf['context'][i], clause))

In [0]:
for i,clause in enumerate(rdf['clause_1']):
    stance_1.append(calculate_stance(rdf['context'][i], clause))

In [0]:
for i,clause in enumerate(rdf['clause_2']):
    stance_2.append(calculate_stance(rdf['context'][i], clause))

In [0]:
for i,clause in enumerate(rdf['clause_3']):
    stance_3.append(calculate_stance(rdf['context'][i], clause))

In [0]:
for i,clause in enumerate(rdf['clause_4']):
    stance_4.append(calculate_stance(rdf['context'][i], clause))

In [0]:
rdf['stance_0'] = stance_0
rdf['stance_1'] = stance_1
rdf['stance_2'] = stance_2
rdf['stance_3'] = stance_3
rdf['stance_4'] = stance_4

rdf.tail(3)

      cdc_present                context  ... stance_3 stance_4
6998        False               monarchy  ...      0.0      0.0
6999        False        right to asylum  ...      0.0      0.0
7000        False  collective bargaining  ...      0.0      0.0

[3 rows x 17 columns]

In [0]:
rdf = trim_dataframe(rdf)

In [0]:
rdf.shape

(6589, 4)

In [0]:
rdf['cdc_present'].value_counts()

False    5818
True      771
Name: cdc_present, dtype: int64

In [0]:
rdf.head(3).transpose()

                                                             0  ...                                                  2
cdc_present                                               True  ...                                              False
context                                       multiculturalism  ...                                    nuclear weapons
clause       He argued that "the evidence is clear that man...  ...  labor must "abolish the wage system which is m...
stance                                               -0.294746  ...                                          -0.076254

[4 rows x 3 columns]

### Test Set

In [0]:
tdf.reset_index(drop=True, inplace=True)

In [0]:
tstance_0 = []
tstance_1 = []
tstance_2 = []
tstance_3 = []
tstance_4 = []

for i,clause in enumerate(tdf['clause_0']):
    tstance_0.append(calculate_stance(tdf['context'][i], clause))

In [0]:
for i,clause in enumerate(tdf['clause_1']):
    tstance_1.append(calculate_stance(tdf['context'][i], clause))

In [0]:
for i,clause in enumerate(tdf['clause_2']):
    tstance_2.append(calculate_stance(tdf['context'][i], clause))

In [0]:
for i,clause in enumerate(tdf['clause_3']):
    tstance_3.append(calculate_stance(tdf['context'][i], clause))

In [0]:
for i,clause in enumerate(tdf['clause_4']):
    tstance_4.append(calculate_stance(tdf['context'][i], clause))

In [0]:
tdf['stance_0'] = tstance_0
tdf['stance_1'] = tstance_1
tdf['stance_2'] = tstance_2
tdf['stance_3'] = tstance_3
tdf['stance_4'] = tstance_4

In [0]:
tdf.head().transpose()

                                                                      0  ...                                                  4
text                  The court noted that it had, prior to Heller, ...  ...  Boys who didn’t play any video games during a ...
topic                                     limit the right to bear arms   ...         the sale of violent video games to minors
article               Second Amendment to the United States Constitu...  ...                              Grand Theft Childhood
cdc                                                                 ---  ...                                                ---
cdc_present                                                       False  ...                                              False
context                                              right to bear arms  ...                                violent video games
text_words                                                           38  ...                                                 33
text_syllables                                                       66  ...                                                 54
text_sentiment_words                                                  2  ...                                                  4
text_punctuation                                                      6  ...                                                  3
text_nouns                                                           10  ...                                                  9
text_phrases                                                         13  ...                                                 11
sent_rat                                                      0.0526316  ...                                           0.121212
clauses               [' identified the Second Amendment as providin...  ...  ['Boys who didn’t play any video games during ...
num_clauses                                                           2  ...                                                  2
claused_sentence       identified the Second Amendment as providing ...  ...  Boys who didn’t play any video games during a ...
context_similarity                                             0.545282  ...                                           0.481191
expanded_similarity                                            0.283945  ...                                           0.439015
subjectivity_score                                               0.3875  ...                                             0.2732
clause_0               identified the Second Amendment as providing ...  ...  Boys who didn’t play any video games during a ...
clause_1              restrictions on felon ownership of firearms di...  ...  enough boys in this group to find statisticall...
clause_2                                                              .  ...                                                  .
clause_3                                                              .  ...                                                  .
clause_4                                                              .  ...                                                  .
grammar_0                                                          True  ...                                               True
grammar_1                                                          True  ...                                               True
grammar_2                                                         False  ...                                              False
grammar_3                                                         False  ...                                              False
grammar_4                                                         False  ...                                              False
stance_0                                                              0  ...                                         -0.0147226
stance_1                                                       0.106768  ...                                         0.00853255
stance_2                                                              0  ...                                                  0
stance_3                                                              0  ...                                                  0
stance_4                                                              0  ...                                                  0

[34 rows x 5 columns]

In [0]:
tdf = trim_test_dataframe(tdf, cols=['cdc', 'cdc_present', 'context', 'clause', 
                                     'stance'])

In [0]:
tdf['cdc_present'].value_counts()

False    1957
True      219
Name: cdc_present, dtype: int64

## Extract and organize Metadata

#### Train Set

In [0]:
# Exctract information from text for evaluation
rdf['words'] = rdf['clause'].apply(lambda x: word_count(x))
rdf['syllables'] = rdf['clause'].apply(lambda x: count_syllables(x))
rdf['sentiment_words'] = rdf['clause'].apply(lambda x: count_sentiment_words(x))
rdf['nouns'] = rdf['clause'].apply(lambda x: noun_counts(x))

In [0]:
rdf['sent_rat'] = rdf['sentiment_words'] / rdf['words']

In [0]:
# Compute context similarity of each sentence
context_similarity = []

for i,txt in enumerate(rdf['clause']):
    context_similarity.append(subject_match(rdf['context'][i], txt))

rdf['context_similarity'] = context_similarity

In [0]:
# Compute similarity of sentence with expanded context
expanded_similarity = []
for i,txt in enumerate(rdf['clause']):
    expanded_similarity.append(expanded_sentence_similarity(rdf['context'][i], txt))

rdf['expanded_similarity'] = expanded_similarity

In [0]:
rdf[['context_similarity', 'expanded_similarity', 'cdc_present']].head(10)

   context_similarity  expanded_similarity  cdc_present
0            0.214705             0.253651         True
1            0.413659             0.210921        False
2            0.327303             0.210071        False
3            0.619828             0.209294        False
4            0.541051             0.374933        False
5            0.401344             0.537170        False
6            0.244186             0.436574        False
7            0.415510             0.388887        False
8            0.415609             0.386135        False
9            0.666958             0.236793        False

In [0]:
rdf['subjectivity_score'] = rdf['clause'].apply(lambda x: sentiment_subjectivity(x, 'subjectivity'))

In [0]:
rdf.head().transpose()

                                                                     0  ...                                                  4
cdc_present                                                       True  ...                                              False
context                                               multiculturalism  ...                                   one child policy
clause               He argued that "the evidence is clear that man...  ...   and that some people consider themselves memb...
stance                                                       -0.294746  ...                                          -0.164083
words                                                               24  ...                                                 18
syllables                                                           37  ...                                                 28
sentiment_words                                                      4  ...                                                  1
nouns                                                                5  ...                                                  4
sent_rat                                                      0.166667  ...                                          0.0555556
context_similarity                                            0.214705  ...                                           0.541051
expanded_similarity                                           0.253651  ...                                           0.374933
subjectivity_score                                             -0.7579  ...                                             -0.438

[12 rows x 5 columns]

In [0]:
cxt = [nlp(context) for context in rdf['context']]
v_cxt = [ct.vector for ct in cxt]

In [0]:
txt = [nlp(clause) for clause in rdf['clause']]
v_txt = [t.vector for t in txt]

In [0]:
txt_vects = pd.DataFrame(v_txt)
txt_vects.columns = ['txt_'+str(col) for col in txt_vects.columns]

In [0]:
cxt_vects = pd.DataFrame(v_cxt)
cxt_vects.columns = ['cxt_'+str(col) for col in cxt_vects.columns]

In [0]:
rdf = pd.concat([rdf, txt_vects, cxt_vects], axis=1)

In [0]:
rdf.head().transpose()

                                                             0  ...                                                  4
cdc_present                                               True  ...                                              False
context                                       multiculturalism  ...                                   one child policy
clause       He argued that "the evidence is clear that man...  ...   and that some people consider themselves memb...
stance                                               -0.294746  ...                                          -0.164083
words                                                       24  ...                                                 18
...                                                        ...  ...                                                ...
cxt_295                                                0.57975  ...                                          0.0461523
cxt_296                                               -0.30301  ...                                          -0.234906
cxt_297                                               0.039072  ...                                         -0.0799367
cxt_298                                                0.21212  ...                                           0.226938
cxt_299                                                0.61851  ...                                           0.163533

[612 rows x 5 columns]

In [0]:
null = rdf.isna()

ndx = null[null['sent_rat'] == True].index

rdf.iloc[ndx]

      cdc_present                       context  ...   cxt_298   cxt_299
61          False           violent video games  ... -0.117433  0.191165
166         False               right to asylum  ... -0.012630  0.209857
627         False            austerity measures  ...  0.459130 -0.178115
1123        False                    wind power  ... -0.120150 -0.136557
1746         True            affirmative aciton  ...  0.214574 -0.054802
2116        False  intellectual property rights  ...  0.080707  0.476137
2398        False            endangered species  ... -0.285510 -0.709820
2744        False                       atheism  ... -0.071851  0.017668
3931        False                     abortions  ...  0.729240  0.387960
5207        False                     traid aid  ... -0.226726  0.339580
5405        False                       atheism  ... -0.071851  0.017668

[11 rows x 612 columns]

In [0]:
rdf.dropna(inplace=True)

In [0]:
write_path = '/content/drive/My Drive/Colab Notebooks/Thinkful/Module 34 - Final Capstone/data/CDC Detection/funnel_2.csv'

rdf.to_csv(write_path)

#### Test Set

In [0]:
# Exctract information from text for evaluation
tdf['words'] = tdf['clause'].apply(lambda x: word_count(x))
tdf['syllables'] = tdf['clause'].apply(lambda x: count_syllables(x))
tdf['sentiment_words'] = tdf['clause'].apply(lambda x: count_sentiment_words(x))
tdf['nouns'] = tdf['clause'].apply(lambda x: noun_counts(x))

In [0]:
tdf['sent_rat'] = tdf['sentiment_words'] / tdf['words']

In [0]:
# Compute context similarity of each sentence
context_similarity = []

for i,txt in enumerate(tdf['clause']):
    context_similarity.append(subject_match(tdf['context'][i], txt))

tdf['context_similarity'] = context_similarity

In [0]:
# Compute similarity of sentence with expanded context
expanded_similarity = []
for i,txt in enumerate(tdf['clause']):
    expanded_similarity.append(expanded_sentence_similarity(tdf['context'][i], txt))

tdf['expanded_similarity'] = expanded_similarity

In [0]:
tdf['subjectivity_score'] = tdf['clause'].apply(lambda x: sentiment_subjectivity(x, 'subjectivity'))

In [0]:
cxt = [nlp(context) for context in tdf['context']]
v_cxt = [ct.vector for ct in cxt]

In [0]:
txt = [nlp(clause) for clause in tdf['clause']]
v_txt = [t.vector for t in txt]

In [0]:
txt_vects = pd.DataFrame(v_txt)
txt_vects.columns = ['txt_'+str(col) for col in txt_vects.columns]

In [0]:
cxt_vects = pd.DataFrame(v_cxt)
cxt_vects.columns = ['cxt_'+str(col) for col in cxt_vects.columns]

In [0]:
tdf = pd.concat([tdf, txt_vects, cxt_vects], axis=1)

In [0]:
tdf.head().transpose()

                                                             0  ...                                                  4
cdc                                                        ---  ...                                                ---
cdc_present                                              False  ...                                              False
context                                     right to bear arms  ...                                violent video games
clause       restrictions on felon ownership of firearms di...  ...  Boys who didn’t play any video games during a ...
stance                                                0.106768  ...                                         -0.0147226
...                                                        ...  ...                                                ...
cxt_295                                              -0.141105  ...                                           0.239813
cxt_296                                              0.0856638  ...                                          -0.153626
cxt_297                                              0.0151028  ...                                          -0.230494
cxt_298                                             -0.0143727  ...                                          -0.117433
cxt_299                                               0.120442  ...                                           0.191165

[613 rows x 5 columns]

In [0]:
write_path = '/content/drive/My Drive/Colab Notebooks/Thinkful/Module 34 - Final Capstone/data/CDC Detection/m2_test_set.csv'

tdf.to_csv(write_path)

In [0]:
m1_test = pd.concat([X_tst,y_tst])

In [0]:
write_path = '/content/drive/My Drive/Colab Notebooks/Thinkful/Module 34 - Final Capstone/data/CDC Detection/m1_test_set.csv'

m1_test.to_csv(write_path)

In [0]:
null = tdf.isna().sum()

null[null>0]

sent_rat              5
context_similarity    5
dtype: int64

In [0]:
null = tdf.isna()

ndx = null[null['sent_rat']==True].index

tdf.iloc[ndx]

                                                    cdc  ...   cxt_299
1161                                                ---  ... -0.178115
1284                                                ---  ...  0.435738
1332  those that give preference to individuals sole...  ... -0.054802
1739                                                ---  ...  0.717760
1909                                                ---  ...  0.567150

[5 rows x 613 columns]

In [0]:
tdf.dropna(inplace=True)